input.form-control {
    margin-bottom: 5px;
}

body {
    padding-top: 36px;
}

#navi-header {
    height: 10px;
}

.cog-right {
    float: right;
}

.no-left-margin {
    margin-left: 12px;
}
.no-right-margin {
    margin-right: 14px;
}

