
    <nav class="navbar navbar-inverse navbar-fixed-top">

        <div class="navbar-text pull-left no-left-margin">
            <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page">
                <span class="glyphicon glyphicon-chevron-left"></span></a>
        </div>

        <div class="navbar-text pull-right no-right-margin">
            <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget/new">
                <span class="glyphicon glyphicon-plus"></span></a>
        </div>

        <div class="navbar-header">
            <a class="navbar-brand"
               href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget">
                Widgets
            </a>
        </div>

    </nav>
    <h1></h1>
    <div class="container-fluid" webdev-sortable="">

        <div ng-repeat="widget in model.widgets">
            <div class="vk-toolbar">
                <span class="glyphicon glyphicon-align-justify"></span>
                <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget/{{widget._id}}">
                    <span class="glyphicon glyphicon-cog"></span>
                </a>
            </div>
            <div ng-switch="widget.widgetType">
                <div ng-switch-when="HEADING">
                    <h1 ng-if="widget.size == 1">{{widget.text}}</h1>
                    <h2 ng-if="widget.size == 2">{{widget.text}}</h2>
                    <h3 ng-if="widget.size == 3">{widget.text}}</h3>
                    <h4 ng-if="widget.size == 4">{{widget.text}}</h4>
                    <h5 ng-if="widget.size == 5">{{widget.text}}</h5>
                    <h6 ng-if="widget.size == 6">{{widget.text}}</h6>
                </div>

                <div ng-switch-when="IMAGE">
                    <img ng-src="{{widget.url}}" width="{{widget.width}}">
                </div>

                <div ng-switch-when="YOUTUBE">
                    <iframe width="100%"
                            height="315"
                            ng-src="{{model.doYouTrustUrl(widget.url)}}"
                            frameborder="0"
                            allowfullscreen>
                    </iframe>
                </div>

                <div ng-switch-when="HTML">
                    <h1 ng-if="widget.size == 1">{{widget.text}}</h1>
                    <h2 ng-if="widget.size == 2">{{widget.text}}</h2>
                    <h3 ng-if="widget.size == 3">{widget.text}}</h3>
                    <h4 ng-if="widget.size == 4">{{widget.text}}</h4>
                    <h5 ng-if="widget.size == 5">{{widget.text}}</h5>
                    <h6 ng-if="widget.size == 6">{{widget.text}}</h6>
                </div>
            </div>
        </div>
    </div>

    <nav class="navbar navbar-default navbar-fixed-bottom">
        <div class="container-fluid">

            <div class="navbar-text pull-left no-left-margin">
                <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget">
                    <span class="glyphicon glyphicon-eye-open"></span>
                </a>
            </div>

            <div class="navbar-text pull-left no-left-margin">
                <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget">
                    <span class="glyphicon glyphicon-play"></span>
                </a>
            </div>

            <div class="navbar-text pull-right no-right-margin">
                <a href="#/user/{{model.userId}}"><span class="glyphicon glyphicon-home"></span></a>
            </div>
        </div>
    </nav>