
    <nav id="navi-header" class="navbar navbar-inverse navbar-fixed-top">
        <div class="row container-fluid">

            <div class="navbar-text pull-left no-left-margin">
                <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
            </div>

            <div class="navbar-header">
                <a class="navbar-brand"
                   href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget/new">
                    Choose Widget
                </a>
            </div>
        </div>
    </nav>

    <div class="container-fluid">
        <h1></h1>

        <form ng-repeat="widget in model.widgets">
            <br>
            <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget/{{widget._id}}">
                {{widget.widgetType}}
            </a>
            <br>
        </form>
    </div>

    <nav class="navbar navbar-default navbar-fixed-bottom">
        <div class="container-fluid">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#/user/{{model.userId}}"><span class="pull-right glyphicon glyphicon-home"></span></a></li>
            </ul>
        </div>
    </nav>
