
    <nav id="navi-header" class="navbar navbar-inverse navbar-fixed-top">
        <div class="row container-fluid">

                <div class="navbar-text pull-left no-left-margin">
                    <a href="#/widget-list"><span class="glyphicon glyphicon-chevron-left"></span></a>
                </div>
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Choose Widget</a>
            </div>
        </div>
    </nav>

    <div class="container-fluid">
        <h1></h1>

        <form>
            <br>
            <a href="#/widget-heading">Header</a>

            <br><br>
            <a href="#">Label</a>

            <br><br>
            <a href="#">HTML</a>

            <br><br>
            <a href="#">Text Input</a>

            <br><br>
            <a href="#">Link</a>

            <br><br>
            <a href="#">Button</a>

            <br><br>
            <a href="#/widget-image">Image</a>

            <br><br>
            <a href="#/widget-youtube">YouTube</a>

            <br><br>
            <a href="#">Data Table</a>

            <br><br>
            <a href="#">Repeater</a>
            <br>
        </form>
    </div>

    <nav class="navbar navbar-default navbar-fixed-bottom">
        <div class="container-fluid">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#/profile"><span class="pull-right glyphicon glyphicon-home"></span></a></li>
            </ul>
        </div>
    </nav>
