
    <nav id="navi-header" class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">

            <div class="navbar-text pull-left no-left-margin">
                <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
            </div>

            <div class="navbar-text pull-right">
                <a ng-click="model.updateWidget(model.widget)">
                    <span class="glyphicon glyphicon-ok"></span>
                </a>
            </div>

            <div class="navbar-header">
                <a class="navbar-brand"
                   href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget/{{widget._id}}">
                    Widget Edit
                </a>
            </div>

        </div>
    </nav>

    <div class="container-fluid">
        <br><br>

        <div ng-show="model.message" class="alert alert-success" role="alert">
            <strong>Success!</strong> {{model.message}}
        </div>

        <div ng-show="model.error" class="alert alert-danger" role="alert">
            <strong>Error!</strong> {{model.error}}
        </div>

            <form>
                <label for="name">Name</label>
                <input ng-model="model.widget.widgetType" type="text" class="form-control" id="name" placeholder="Name">

                <label for="texts">Text</label>
                <input ng-model="model.widget.text" type="text" class="form-control" id="texts" placeholder="Type Here">

                <div ng-switch="widget.widgetType">
                    <div ng-switch-when="HTML">
                        <label for="num">Size</label>
                        <input ng-model="model.widget.size" type="number" class="form-control" id="num" placeholder="Size">
                    </div>
                    <div ng-switch-when="IMAGE">
                        <div class="form-group">
                            <label for="links">URL</label>
                            <input ng-model="model.widget.url" type="url" class="form-control" id="links" placeholder="image URL">
                        </div>

                        <div class="form-group">
                            <label for="img-widths">Width</label>
                            <input ng-model="model.widget.width" type="text" class="form-control" id="img-widths" placeholder="image width">
                        </div>

                        <div class="form-group">
                            <label for="img-upload">Upload</label>
                            <input type="file" class="form-control" id="img-upload" placeholder="choose file">
                        </div>
                    </div>

                    <div ng-switch-when="YOUTUBE">
                        <div class="form-group">
                            <label for="link">URL</label>
                            <input ng-model="model.widget.url" type="url" class="form-control" id="link" placeholder="image URL">
                        </div>

                        <div class="form-group">
                            <label for="img-width">Width</label>
                            <input ng-model="model.widget.width" type="text" class="form-control" id="img-width" placeholder="image width">
                        </div>
                    </div>
                </div>
            </form>
        <a class="btn btn-danger btn-block" ng-click="model.deleteWidget()">Delete</a>
    </div>

    <nav class="navbar navbar-default navbar-fixed-bottom">
        <div class="container-fluid">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#/user/{{model.userId}}"><span class="pull-right glyphicon glyphicon-home"></span></a></li>
            </ul>
        </div>
    </nav>
